$primary-color: rgba(15, 42, 67, 1);;
$secondary-color: rgba(15, 42, 67, 1);

$primary-font: "Nunito";
$secondary-font: "Roboto";

@mixin border_new(){
    border: 1px solid green;
}

@mixin border($color: green) {
    border: 1px solid $color;
    border-radius: 10px;
    }


.main_cont{
    margin-top: 40px;
    h1{
        color: $primary-color;
        font-family: $primary-font;
        font-weight: 600;
    }
    p{
        color: $secondary-color;
        font-family: $secondary-font;
    }
    .more{
        font-size: 20px;
        font-weight: bold;
    }
    // .col{
    //     // border: 1px solid green;
    //     @include border(green)
    // }
}

@mixin border($color: green) {
    border: 1px solid $color;
    border-radius: 10px;
    }

